files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443 ssl;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDWzCCAkOgAwIBAgIUE66evU9EzkNRXYymF3NzOaVPwFAwDQYJKoZIhvcNAQEL
      BQAwQzFBMD8GA1UEAww4bGlrZWlhbTUtZW52LmViYS04YnZtanNuMy51cy1lYXN0
      LTIuZWxhc3RpY2JlYW5zdGFsay5jb20wHhcNMjAwNjE1MjIyMTE1WhcNMzAwNjEz
      MjIyMTE1WjBDMUEwPwYDVQQDDDhsaWtlaWFtNS1lbnYuZWJhLThidm1qc24zLnVz
      LWVhc3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTCCASIwDQYJKoZIhvcNAQEBBQAD
      ggEPADCCAQoCggEBAJmpo6/52oCgFcDbnEdkGXZdzi8JQkO5GSd1f848xYwBgNNm
      OIVNQp4sl2nAV2jRaMH81jPF6O1gQYfExZv1Xffc+MUP6L1hjIbQrYemObPmaPYn
      20MFYrh4Bseareft+wjr3cB+vkVpdpmD4pTy1uZJDIhhWYy2JEiMYgVhTMJcRY2H
      AsCxYGIEsF6w3soesVOxv68w43YKT1TaZAq/QQPnY/X7wquMy1kJQj00CJZg00oO
      KHw/ZL21kzfQUPn/pLLitwtohkrynqVz5Xr+/G8P0N+zYuLmu90UDWhx9NWbR4Bt
      ki2Lx5m81nyVfb+Mepgj/oaKFOAZX1JDflM0in0CAwEAAaNHMEUwQwYDVR0RBDww
      OoI4bGlrZWlhbTUtZW52LmViYS04YnZtanNuMy51cy1lYXN0LTIuZWxhc3RpY2Jl
      YW5zdGFsay5jb20wDQYJKoZIhvcNAQELBQADggEBAEkcUy56paQlZsURLddXCrje
      KNwj3D5mqegobkJ+lfBg3d7GKMZJq3UP079NYEPa0l/8uLdOBw/1l3DMQnOy2OqK
      lYGzgbBf6f19eJL1ce6ZRvD/X6PasyHFigLfrqaRPdBhVkyjMq2v937zSSY2heFX
      TluZcb40Q4AmvbU5ilvSM3rO+HcoFHFOtmggRKz+BksyXQiE9lay2DTQTGuIDtE0
      QaQgRvSyU5rQCFCQ+uKFH6aIx3KpnTEKskHVw3BOy2MRvXNNpThc1vdY7R7S1KNB
      FY+LdwfWUrQJu5JNlRnfR25e2nn0bHRVKGGy4ouRxIY47FIpiKEyVW1tnpig75I=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCZqaOv+dqAoBXA
      25xHZBl2Xc4vCUJDuRkndX/OPMWMAYDTZjiFTUKeLJdpwFdo0WjB/NYzxejtYEGH
      xMWb9V333PjFD+i9YYyG0K2Hpjmz5mj2J9tDBWK4eAbHmq3n7fsI693Afr5FaXaZ
      g+KU8tbmSQyIYVmMtiRIjGIFYUzCXEWNhwLAsWBiBLBesN7KHrFTsb+vMON2Ck9U
      2mQKv0ED52P1+8KrjMtZCUI9NAiWYNNKDih8P2S9tZM30FD5/6Sy4rcLaIZK8p6l
      c+V6/vxvD9Dfs2Li5rvdFA1ocfTVm0eAbZIti8eZvNZ8lX2/jHqYI/6GihTgGV9S
      Q35TNIp9AgMBAAECggEBAIT3XCM8qyy+WdSGtFa6caYRSgc9lc+QbgnNDQjjYXXj
      HxzOyX3f+xNwNp1VyM1015d1N82ZJhOyRUI8rVplGikPV1z+hUDLFpTaIi7NUgUw
      DgdjOcJm+KPziLpUSMP3FFEF+N9HTVI3Dl+M1hZZhEfFUkj5JEo0mnUEtRU+uvM7
      GbwPAZO5dHXJ2Zh8Xua1Y6uEzfa2EmkA19r75G0G/o5cAuQxO/AS8Gln7QVNpV+j
      jlCP1VWBO/HXAbs82SQYssd+6FGBp1w1NKiJFSIGyYcAPHuSoDLZmrS21lWQ3man
      I1fO2DbVWZn3K0q6UPHiLdatiHFjuiRZiC8bPsuOJ2kCgYEAy73OR6TK0HXftsEZ
      +iBfZhHdF4o7+Jq808pKEGDk6i4aBkMWZtHogvNfv07tfvdiufiyYPjBWQp3g9rd
      376dKsG4p/iZr2z3qXc1LM7Xp5TFcR2OSWZ0jxvQXnTUSS5eV2vDdYRmvMTbVCTD
      +pr5uSRPTGLSC1c1aEFAplEIY+8CgYEAwROHzsT/aqEr2TO/8GUl8e9oi09TqAFu
      1F9T9OW5Brz7CPUZva0HS4KmmjWdZ9utXgOo1k4dLG6okeKp9e+egIzJvq7M9R8y
      5xtHDAtuO8E18fS52jMQatwbnFVQ0i34hUw00KSkOSjJisj5Fc7jhmA3CXwrVPdx
      0RcUrOBSHFMCgYEAtm48GJaMK+B/8qoxUnBOO5zfNUbHsDENxy4o50V7c9zX3KeR
      lXt7EFZPc4N+0OM+eXsgbggPSGVA4sXFSaTqIfDYIT9OjW+qywk8ieSj4SArMr/e
      OgcNc17aUtmVg/mK7AhIOh/Vxk0Wft90xB6kYI0MnD8YCKOL5NAYzVNdie0CgYBo
      PNkXQrf6o2T+8LdxW8puoag5fexWSd/B/G1hTBzmjGSjY2AwTRghJjo4CzYd+jXR
      Cfy/JpENifisOkk0I9fY4ymQLuMse1mJ9+oVkJ5E2Hz9Ufh82xDEAG1Pq6fksTj5
      Djl9Y0XeLi0RJouDwJyJ0awlDMqAJs9l6SYaZ0ktTQKBgHj2ZMTgHrfjHJkHaYY5
      r0GNjv6T+g8yCsxYQrlpCkudxnwccrxYaTHB/DOKBZoEz0cLvP3rF0QJVQ+R5b5z
      uMGqmaC2KUsf+bAjd3zLc1po9/o5BhMf6r2+H/IClMOw/sv8NPOC1Ri+lTVDMD3H
      mB5ReqLwb0Ybx46ep3eb1K1J
      -----END RSA PRIVATE KEY-----