files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDUzCCAjsCFAs1gYCQbKh9+2D/CvLN8cIjCZSVMA0GCSqGSIb3DQEBCwUAMGYx
      CzAJBgNVBAYTAlVTMRMwEQYDVQQIDApXYXNoaW5ndG9uMRAwDgYDVQQHDAdTZWF0
      dGxlMRwwGgYDVQQKDBNFeGFtcGxlIENvcnBvcmF0aW9uMRIwEAYDVQQLDAlNYXJr
      ZXRpbmcwHhcNMjAwNTI2MjI0NTE3WhcNMjEwNTI2MjI0NTE3WjBmMQswCQYDVQQG
      EwJVUzETMBEGA1UECAwKV2FzaGluZ3RvbjEQMA4GA1UEBwwHU2VhdHRsZTEcMBoG
      A1UECgwTRXhhbXBsZSBDb3Jwb3JhdGlvbjESMBAGA1UECwwJTWFya2V0aW5nMIIB
      IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA01yOGtHhSEN2dhycVSLI3itl
      /UrhNoQFs1a7TaOVg2iaWw+9pmGFBFFW17YSfwhZGimfXQ1e1nSxLnCOB6SnK3Qc
      cCOU7yproh2crS7Q7kSTjmLDuaxiiGhhR5Eld+FdkPQyHSsuzuTVGxurFNefvWW5
      SUsZraf+k+ChbqqM8PaTm9CaEK8ezRnj2GQIbrKOgDzj4z4HI8lRUutDfTiKtCyr
      tiLIV+gd+NnHwJTgmnLbWRruIHQG1rQPw5spsmnL+UdtwOKM8hSCWKK9SM/6qduy
      QDPA113WTm2mbbiCxCsolQQlCewCQelNQ4qFItSgM7hT3EBMlgUuUCKD9JUBTQID
      AQABMA0GCSqGSIb3DQEBCwUAA4IBAQCsvnQHGZv7I93zv0amEyUUzg/q5cCm+OFk
      wEybQpBC1+rjVUEcHuNC2tanqDIIYvTjyaYav2lJ2dvQW8cXh9GZ5RU6S74j0vu+
      155HuqaZXT8YLxCdV3Yf+o4/kQNuhEQo3N7MeHNmzTSO1U6BOpl2uMHHdUCHK2Fj
      cEOeyXqm5679i29zuU8KEgR/Qfwjw/XeFKncfQcjLVUIc6jVFpU6Bog64id6jKS8
      ixsG3zehiF4PMHfbCJvzysOKFw/aAvGo3LH6Uyhc5BB+6pFfOa1OecH0xZXktKKo
      Ex/tXJBoQMICjIf80gIQ2ihcY7g0WksQQGDsnGR/7ap3RUGxHu/9
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA01yOGtHhSEN2dhycVSLI3itl/UrhNoQFs1a7TaOVg2iaWw+9
      pmGFBFFW17YSfwhZGimfXQ1e1nSxLnCOB6SnK3QccCOU7yproh2crS7Q7kSTjmLD
      uaxiiGhhR5Eld+FdkPQyHSsuzuTVGxurFNefvWW5SUsZraf+k+ChbqqM8PaTm9Ca
      EK8ezRnj2GQIbrKOgDzj4z4HI8lRUutDfTiKtCyrtiLIV+gd+NnHwJTgmnLbWRru
      IHQG1rQPw5spsmnL+UdtwOKM8hSCWKK9SM/6qduyQDPA113WTm2mbbiCxCsolQQl
      CewCQelNQ4qFItSgM7hT3EBMlgUuUCKD9JUBTQIDAQABAoIBAGQ0yk6e2L7o9R3U
      PK4EWtUyIB1xRcsR1p4K7axGdRkjG6M2mERskaLVaWXFtYkyjQPhXePA9giYtHP+
      +udWwcbROrZTuEWXiAYJIgHdY0LDkm18F61MtD5VtmE2yFvIphKWI7g+g+elB//d
      I0QzYlFqC+layKbTMdgsNH0CMOYANIjpbj9Be5AK6CMqslbPP9KjsXiiHgX8wjY+
      7UyL42qMgrt/XJJqTP8yCnczThghYAhtwow1LiBJA4/lJZhYuTszxkHZZvW6pckN
      ZVw1sRaVEl8HgEP7ohtIUi8oaTM+viSNNZjdgLn3n/wiWguqvMKlYD52JAph+8L2
      WTF7gQECgYEA8esrSOPQBsY5WBjOs9iXjSxwNurI0rkr/lgI72+dS1Pxpp0OSUPC
      3nOUD47FbPN0qAD/7lMteqKgtTUtW4ER7UCH9TqffosE9pmizvDP64NsXUNhF7SJ
      FBd4s9UZAqxi35aNpw7AArHOsdPop5rel57VecA7TpqeXDMvCy6l5Q0CgYEA36oO
      AMNpeP1XLB2NfaNZaXBPpR2rXz4wy7vNvgnKRvXpn2KSqaCy7ySmqAs0EP4cP2AA
      FPwu/TM76qLKVfZdTZjcuXG1PJDR+FuNGRVtV2W6ILWFny3bIHaoo/+h/m9/TrFu
      hgnYVSfw7whs5ON3pAkZTkRWxS09hlRVgjd4/UECgYEA6yFZtsTFom/zuG6UKTUx
      R+OTRa05d6bG3bUPKjlftqFmVDx+cDNOKgxIMj7gIJ8YGVqvZiKuJ239qWKALVnr
      5J8+Bdnuv327WzvEhEKGtC/OmW8t5W5xdXfCt3c9kd2fVBXupBqwAW50qV5/2Ler
      9c5JSsbOXf3mQVL2PHYgg9kCgYEAvidv/Eom08xfXoxJjPVhwPjRXcnZtwHCrpOe
      meDs7mOIGg/OLRUIy7RXVCsiOwgvr9nIeA7nTDFQ0W1RpL/uF1jM34TC1xkwynvb
      e+Xxrgo4sjJhxjFQSUtYmQVvDkhw7dB/7MlV+SAaAL8jBX42a2mo8Be9xalu01PD
      1w+ed4ECgYBkx5d9783tXJ2eMlIOzCSiiHsGQNfMTo8/K8GlHnsSdQPgoaqT3Aur
      P6ESgXjJelxtr+Pb/HTh0GjbI4ssQ/QEMWsE/CI8NfT8x6QFT0H5LeAJvHKwixC6
      nPIMlhxjVFOFO+RtTT0HGQDWetEm8qTchzsLDu8Q+HlwSNRy1KSp1A==
      -----END RSA PRIVATE KEY-----