files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443 ssl;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFYzCCBEugAwIBAgIUS9JB5E7crhgSLMX0P+hqKMiqEXswDQYJKoZIhvcNAQEL
      BQAwgcExCzAJBgNVBAYTAlVTMRMwEQYDVQQIDApXYXNoaW5ndG9uMRAwDgYDVQQH
      DAdTZWF0dGxlMRAwDgYDVQQKDAdFeGFtcGxlMRIwEAYDVQQLDAlNYXJrZXRpbmcx
      QTA/BgNVBAMMOGxpa2VpYW01LWVudi5lYmEtOGJ2bWpzbjMudXMtZWFzdC0yLmVs
      YXN0aWNiZWFuc3RhbGsuY29tMSIwIAYJKoZIhvcNAQkBFhNzb21lb25lQGV4YW1w
      bGUuY29tMB4XDTIwMDYxNTIzMDk0OFoXDTIxMDYxNTIzMDk0OFowgcExCzAJBgNV
      BAYTAlVTMRMwEQYDVQQIDApXYXNoaW5ndG9uMRAwDgYDVQQHDAdTZWF0dGxlMRAw
      DgYDVQQKDAdFeGFtcGxlMRIwEAYDVQQLDAlNYXJrZXRpbmcxQTA/BgNVBAMMOGxp
      a2VpYW01LWVudi5lYmEtOGJ2bWpzbjMudXMtZWFzdC0yLmVsYXN0aWNiZWFuc3Rh
      bGsuY29tMSIwIAYJKoZIhvcNAQkBFhNzb21lb25lQGV4YW1wbGUuY29tMIIBIjAN
      BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxdlg2lN9nho0WcX0a7h6EgcBTgOv
      cvlgwZTysFzmz+F7AR8g955TXSqiCQpXxSk9Y9TWB6AHODGhga+/HNgLOLek+tQO
      eSWho4IdS8Rb9OmkagfY/TqF2JGVDLO5IcZeQ5DxN8hPI5mCZlpQvGaKTpVrHRrY
      LBTjrUhuWG0E80Mj+V1MJB8lOpz+SYmK25zfAKbi3gymWFzTjcpurznpnTAw7Q96
      uiI3Q+5zyfNALOKN4T5x6jILdFDAlJK3KpKZBYVgAdrbNGiBmE0KSwo0XytxoOW2
      V7juCZ7okelmSPiT0pJ8B6I4WeL0l/H/K/Y6FPuB3IR72psHjTYK+6+wmwIDAQAB
      o4IBTzCCAUswgesGA1UdIwSB4zCB4KGBx6SBxDCBwTELMAkGA1UEBhMCVVMxEzAR
      BgNVBAgMCldhc2hpbmd0b24xEDAOBgNVBAcMB1NlYXR0bGUxEDAOBgNVBAoMB0V4
      YW1wbGUxEjAQBgNVBAsMCU1hcmtldGluZzFBMD8GA1UEAww4bGlrZWlhbTUtZW52
      LmViYS04YnZtanNuMy51cy1lYXN0LTIuZWxhc3RpY2JlYW5zdGFsay5jb20xIjAg
      BgkqhkiG9w0BCQEWE3NvbWVvbmVAZXhhbXBsZS5jb22CFEvSQeRO3K4YEizF9D/o
      aijIqhF7MAkGA1UdEwQCMAAwCwYDVR0PBAQDAgTwMEMGA1UdEQQ8MDqCOGxpa2Vp
      YW01LWVudi5lYmEtOGJ2bWpzbjMudXMtZWFzdC0yLmVsYXN0aWNiZWFuc3RhbGsu
      Y29tMA0GCSqGSIb3DQEBCwUAA4IBAQAXB2QodjlQdKrfXBbMYVzn6HvKt7IUX4W0
      lSNlZ+cvbscHKldkeS2WgdxcUnVKg0ds5GUGjvbEukb20c37nTbI9M19yNKVxK2e
      0/SbSk7ud8FB5+hI1y99UiGrdkfbANSMap0SeL3ejK3NCfjQoYcz+3qaIqbwh4Sw
      3QoRIjoCLKNDt2PjzOQdrKp5vSA+EjK12KHF2OxIo5Ly6xe00Ai4FCTMe4OMN3JV
      l+1bZ84lrTUoawp/R2Ievro/VrMEd5wq3v/T+wl9ZcJ/qeZ35P32St+Ke5FugNnb
      d+JkwR21+xBrUxZOjokswjBAWSxz/EMh3TMrGZUyRc5ghbV5AhwR
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAxdlg2lN9nho0WcX0a7h6EgcBTgOvcvlgwZTysFzmz+F7AR8g
      955TXSqiCQpXxSk9Y9TWB6AHODGhga+/HNgLOLek+tQOeSWho4IdS8Rb9OmkagfY
      /TqF2JGVDLO5IcZeQ5DxN8hPI5mCZlpQvGaKTpVrHRrYLBTjrUhuWG0E80Mj+V1M
      JB8lOpz+SYmK25zfAKbi3gymWFzTjcpurznpnTAw7Q96uiI3Q+5zyfNALOKN4T5x
      6jILdFDAlJK3KpKZBYVgAdrbNGiBmE0KSwo0XytxoOW2V7juCZ7okelmSPiT0pJ8
      B6I4WeL0l/H/K/Y6FPuB3IR72psHjTYK+6+wmwIDAQABAoIBAEgKMdjtY6UI150E
      lk4O2uvrfw8gCmdr5E44ZPHQsf5plLdA1Wk0ThhzaJKwIGta686I9fHK1DYi5DLr
      gkQHanaZb8ohIq/8AtIdk3s+IVmZJVOyTdFO2OOVhtccLcHdj/88LIjqN963i6Kn
      KhSfpaadg2YSmznZ1VkIMZ2i/JVybgpYW1exOqDHV3pVHZ6HvIU3JplknKaNGkMZ
      ZLJzXWEyuHz1NDVyqaAqnnK/mBiWq/O8QKYVBfx8EgheRYaszA6HuNfaT7+vienr
      xK6QXKNqjdNuLr1xyTzgMycRzGE59nU7KuV56Pq84hqO3NkEsVB8AS+Uw8GkLv+0
      Q55sItECgYEA6Ysj+EAaZtPakhM4ntnDaTqypIu8WMgWf4bcQgN109O5e05Y4pLU
      0JMdgjHiRllKiOLcNqvVBcr1rp3vWdNnKrWCExFiqvTSLd3qEKzuEuM4oOkR/C4p
      EXO0MrSaPiv1WI6b9DTjPTVvn9nNeqBWkjcYp/OdqJDGmQI1gDcCUNMCgYEA2N+X
      mN7frOdzpRsSUzllDQ8Gflx+AN43MXLpEfiLf0o1TgYnr6bAUVKRpHpWvboTGw5+
      rX4BO8HFl7xW5bFYTwFIfdS5uAKTFK+bxdoW0X0SpzOFDAJxP2SrynsKyG5OFV9Y
      OmzavW2zvjm6fVDqLc2ATubq4znIEP8xd/RzhBkCgYEAkFki617bsrDBCMZ+mZhp
      MpJINnH0AT/yv/HgE6FF456apz8eqzQr+5rig0VH4UlxSzhE+jms2f6/aaVOekuz
      GW/ErPpy7M2TVywxbwsjv2LX7oUAS8lQMuw79ZcxOro60/iZJhDGX1+21atuWJvf
      xlHtmGl4CecqCQqXfN8DPGcCgYByjpkLXR8VvCSwH/6sC3M/VKJ/eOfuGXNaIXLP
      1VQKZu6FSmcIN7L6wfzAvwa2rWWOMzfi+N457H8tSYU1S1p0UR8zqHx5oJKEqMZF
      2o+XFNQXkfVDhL7BV7IPALOPcAS68WQvaHSa/ymk3+WMcINislyGUR/d6xWtNL+y
      t2OVcQKBgGtCdXvxlxV7i0efYFD7cL2l/L0Mt9b8WjvH5fvsOKSohUrVkHuGoUju
      SMNwrtOMDqn6f0M95SC/YNbhh+wqjZYvOa/VJZ15O1IdXr/8pV6OpKmyYUoerLrN
      ONLjoWXHEVe96e4dIVG9k1OsTSHCtjkYmDdetYvC8e6g+48SD30D
      -----END RSA PRIVATE KEY-----